<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fritness</title>
    <link rel="stylesheet" th:href="@{main.css}">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th th:text="#{col_name}"></th>
                <th th:text="#{col_price}"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="snack : ${alleSnacks}" >
                <td th:text="${snack.name}"></td>
                <td th:text="${snack.price}"></td>
                <td> <a th:href="@{~/delete/{id}(id = ${snack.id})}" th:text="#{delete}"> delete </a> </td>
            </tr>
        </tbody>
    </table>
    <div>
        <form th:action="@{~/index}" method="post" th:object="${nSnack}">
            <label for="name" th:text="#{col_name}"></label>
            <input type="text" th:field="*{name}" id="name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>

            <label for="price" th:text="#{col_price}"></label>
            <input type="text" th:field="*{price}" id="price">
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error"></span>

            <input th:value="#{submit}" type="submit">
        </form>
    </div>
</body>
</html>